- content_for :form_header do
  %h2 Create your account
= form_for( resource,
            as: resource_name,
            url: registration_path(resource_name),
            data: { turbo: false },
            html: { class: "flex flex-col gap-5 items-center" }) do |f|


  = render "devise/shared/error_messages", resource: resource

  .field{class: "flex flex-col"}
    = f.label :name
    = f.text_field :name, autofocus: true, autocomplete: "name"

  .field{class: "flex flex-col"}
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"

  .field{class: "flex flex-col"}
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "new-password"

  .field{class: "flex flex-col"}
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password"

  .actions
    = f.submit "Sign up", class: "btn-color"
