.shared_links{ class: "flex flex-col gap-5" }
  - if controller_name != 'sessions'
    .sign_in
      = "Already have an account? #{link_to "Sign in", new_session_path(resource_name), class: "btn-text-clear"}"

  - if devise_mapping.registerable? && controller_name != 'registrations'
    .sign_up
      = "Don't have an account? #{link_to "Sign up",
        new_registration_path(resource_name), class: "btn-text-clear"}"

  - if devise_mapping.recoverable? && |
    !['passwords', 'registrations', 'sessions'].include?(controller_name) |
    .new_password
      = link_to "Forgot password?", new_password_path(resource_name),
        class: "btn-text-clear"

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    .new_confirmation
      = link_to "Didn't receive confirmation instructions?",
        new_confirmation_path(resource_name), class: "btn-text-clear"

  - if devise_mapping.lockable? && |
    resource_class.unlock_strategy_enabled?(:email) && |
    controller_name != 'unlocks' |
    .new_unlock
      = link_to "Didn't receive unlock instructions?",
        new_unlock_path(resource_name), class: "btn-text-clear"

  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      .new_omniauth
        = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}",
          omniauth_authorize_path(resource_name, provider), method: :post, 
          class: "btn-text-clear"
