- content_for :form_header do
  %h2 Resend unlock instructions
= form_for( resource,
            as: resource_name,
            url: unlock_path(resource_name),
            html: { method: :post,
                    data: { turbo: false },
                    class: "flex flex-col gap-5 items-center" }) do |f|

  = render "devise/shared/error_messages", resource: resource

  .field{class: "flex flex-col"}
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"

  .actions
    = f.submit "Resend unlock instructions", class: "btn-color"
