%article.album{class: "md:w-3/4"}
  %header{class: "flex bg-rose-700 text-white gap-8 p-8 rounded-t-lg"}
    .cover{class: "grow-0 w-40"}
      %p{class: "text-sm"} Listen on Spotify
      = link_to (image_tag @album.cover), @album.external_uri
    .info
      %h1.title= @album.name
      %ul.artists_list
        - @album.artists.each do |artist|
          %li.artist_name{class: "font-bold"}
            = link_to artist.name, artist_path(artist)
  .songs{class: "p-8 rounded-b-lg bg-rose-200"}
    .songs_list{class: "grid grid-cols-2 justify-around"}
      - @album.songs.each do |song|
        .song_name
          = song.name
        .song_duration{class: "justify-self-end"}
          = format_duration(song.length_in_s)
