- content_for :form_header do
  %h2 Welcome back!
= form_for( resource,
            as: resource_name,
            url: session_path(resource_name),
            data: { turbo: false },
            html: { class: "flex flex-col gap-5 items-center" }) do |f|

  .field{class: "flex flex-col"}
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"

  .field{class: "flex flex-col"}
    = f.label :password
    = f.password_field :password, autocomplete: "current-password", class: ""
    = link_to "Forgot password?", new_password_path(resource_name),
      class: "btn-text-clear"

  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me

  .actions
    = f.submit "Sign in", class: "btn-color mx-auto"
