= form_with url: search_path, method: :get, id: "search" do |form|
  .field
  = form.label :entity
  = form.collection_select :entity, all_entities.keys, :to_s, :to_s #, include_blank: false

  .field
  = form.label :query
  = form.text_field :query

  .actions
  = form.submit "Search"
