%header
  %nav.navbar{class: "w-full py-3 px-4 flex flex-wrap gap-4 justify-between
  items-center bg-rose-700 text-white"}
    .logo
      = link_to (show_svg "logo.svg", "fill-white h-[1.5rem] w-[7.5rem]"),
        root_path
    .interactions{class: "flex flex-wrap gap-x-16 gap-y-4 items-center"}
      .feedback
        = link_to (show_svg "github.svg", "fill-white h-6"),
          "https://github.com/ftambara/rosytunes", class: "inline"
      .user{class: "object-center"}
        - if @user
          .user_nav{class:"flex gap-4 items-center"}
            .profile
              = button_to "#{@user.name}'s profile", "#", class: "btn-primary"
            = button_to "Log Out", "#", class: "btn-secondary"
        - else
          .guest_nav
            = button_to "Log In", "#", class: "btn-primary"
            = link_to "Sign up", new_user_registration_path, class: "btn-primary"
