!!! 5
%html
  %head
    %title Rosytunes
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body{class: "w-screen bg-white"}
    = render "layouts/notifications"
    = render "layouts/header"
    %main{class: "px-16 py-8 flex justify-center align-center"}
      = yield
